<!DOCTYPE html>

<html>

	<head>

		<title>Oberra</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<link rel="stylesheet" type="text/css" href="https://ryanwaite28.github.io/my-cdn/css/bootstrap.css"/>
		<!--<link rel="stylesheet" type="text/css" href="http://ryanwaite28.github.io/my-cdn/css/emerald.css"/>-->
		<link rel="stylesheet" type="text/css" href="style.css"/>
		<link rel="stylesheet" type="text/css" media="only screen and (max-width: 785px)" href="mobile-style.css">
		<link rel="icon" type="image/png" size="25x25" href="blog-icon.png"/>
		<link rel="stylesheet" href="bootstrap-social-gh-pages/assets/css/font-awesome.css">
		<link rel="stylesheet" href="bootstrap-social-gh-pages/bootstrap-social.css">
		<script src="https://ryanwaite28.github.io/my-cdn/js/angular.js"></script>
		<script src="https://ryanwaite28.github.io/my-cdn/js/jquery.js"></script>
		<script src="https://cdn.firebase.com/js/client/2.2.4/firebase.js"></script>
		<!-- <script src="https://www.gstatic.com/firebasejs/5.5.1/firebase.js"></script> -->
		<script src="https://cdn.firebase.com/libs/angularfire/1.1.4/angularfire.min.js"></script>
		<script src="https://ryanwaite28.github.io/my-cdn/js/emerald.js"></script>
		<script src="array-sortby.js"></script>
		<script src="script.js"></script>
	</head>

	<body ng-app="myApp" ng-controller="masterCtrl">

		<div class="top-bar" id="top-bar">

			<div class="top-div middlr">

				<img class="icon" src="blog-icon.png"/>

				<h1 class="top-text"><b>Oberra</b></h1>

				<ul class="top-list">
					<li id="login-div">
						<div>
							<a href="#">Log In</a>
							<div class="login-cont">
								<h3 class="">Log In</h3>
								<hr>
								<!-- <a href="#" title="Facebook Log On">
									<img class="ico" ng-click="fbLogin()" src="https://static.xx.fbcdn.net/rsrc.php/yl/r/H3nktOa7ZMg.ico"/>
								</a> -->
								<!-- <a ng-click="fbLogin()" class="btn btn-social-icon btn-lg btn-facebook">
									<i class="fa fa-facebook"></i>
								</a> -->
								<a ng-click="gLogin()" class="btn btn-social-icon btn-lg btn-google">
									<i class="fa fa-google"></i>
								</a>
							</div>
						</div>
					</li>
				</ul>
			</div>

		<div id="m-div" ng-if="user">
			<a href="#" title="Menu DropDown"><img id="m-icon" src="https://i.imgur.com/huBw3xR.png"/></a>
			<div id="m-cont">
			<img width=50% class="fb-photo middlr" src="{{user.picture}}"/>
			<a href="{{user.link}}"><h4 class="text-center">{{user.name}}</h4></a>
			</div>
		</div>

		</div>

		<div class="container-fluid no-padd" id="grand-container">

			<header class="row header">
				<!-- Header Row w/background Image -->
				<h1 class="top-text2"><b>Oberra!</b><br>
					<p style="font-size: 40px;"><em>Share Your Thoughts!</em></p>
				</h1>
			</header>

			<div class="row bg-grey" style="padding: 45px;">

				<div class="col-md-12">
					<h2 class="text-center"><b>Blog/Forum Site!</b></h2>
					<br>
					<h3 class="text-center">Select a Topic From The DropDown<br>And Add a Post To The Discussion!</h3>
					<br>
					<p class="text-center">Please be appropiate and refrain from using fowl language.</p>
				</div>

			</div>

			<div class="row" style="padding: 45px;">

				<div class="col-md-12">

					<div class="forms">
						<h2 class="text-center"><b>Select/Submit a Topic</b></h2>
						<select id="topics" class="middlr">
							<option value="none">- Select a Topic -</option>
							<option ng-repeat="topic in blogSite" value="{{ topic.name }}">{{ topic.name }}</option>
						</select><br>
						<input type="text" class="middlr" id="new-topic" placeholder="Submit a New Topic!"/><br>
						<button type="button" class="submit-btn middlr" ng-click="newTopic()">Submit Topic</button>

					</div>

				</div>

			</div>

			<hr>

			<div class="row">

				<div class="col-md-4">

					<div class="addpost-form brd-1" id="addpost-form" ng-hide="hideForm">
						<h2 class="text-center"><b>Share a Post</b></h2><hr>
						<textarea class="middlr" id="newpost-body" placeholder="Your Thoughts" ng-model="new_post_body"></textarea><br>
						<button type="button" class="submit-btn middlr" id="post-btn" ng-click="newPost()">Submit Post</button>
						<br>
					</div>

				</div>

				<div class="col-md-8" id="topic-discussion">

					<div class="disc-div brd-1" id="disc-div" ng-hide="hideForm">

						<h2 class="text-center"><b>{{currentTopicName | uppercase}}</b></h2>
						<hr>
						<ul class="disc-list" id="disc-list">
							<li ng-repeat="post in currentTopicPosts | orderBy: 'postDate[reverse]'">
								<img class="pfb-img" src="{{post.postImg}}"/>
								<h3><b>{{post.personName}}</b></h3>
								<p>{{post.personThoughts}}</p>
								<br>
								<p>{{post.postDate}}</p>
							</li>
						</ul>

					</div>

				</div>

			</div>

			<br><br><br><br><br>

		</div>

	</body>

</html>
